{{define "header"}}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Principal</title>
    <link href="../static/css/output.css" rel="stylesheet">

</head>
<body>
<nav class="bg-gray-800 text-gray-100 px-6 py-4 flex justify-between items-center shadow">
        <span class="font-bold text-lg tracking-wide">Sistema</span>
        <a href="/" class="text-gray-100 hover:text-blue-300 font-medium">Home</a>
    </nav>
{{end}}
